/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}
.hero-search-bar:focus {
    border: none;
    outline: none;
}
#hero-section {
    background-image: url("../assets/images/bgbanner.png");
    background-size: cover;
}